In [1]:
my_list = [1,2,3,4,5,6,7]

In [2]:
for number in my_list:
    print(number)

1
2
3
4
5
6
7

In [3]:
range(20)

range(0, 20)

In [4]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
for number in list(range(20)):
    print(number * 5)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [6]:
for num in list(range(5,20)):
    print(num)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
for num in list(range(5,20,3)):
    print(num)

5
8
11
14
17

In [8]:
index = 0
for num in list(range(5,15)):
    print(f"no: {num} ix: {index} ")
    index += 1

no: 5 ix: 0
no: 6 ix: 1
no: 7 ix: 2
no: 8 ix: 3
no: 9 ix: 4
no: 10 ix: 5
no: 11 ix: 6
no: 12 ix: 7
no: 13 ix: 8
no: 14 ix: 9

In [9]:
for element in enumerate(list(range(5,15))):
    print(element)

(0, 5)
(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)
(6, 11)
(7, 12)
(8, 13)
(9, 14)

In [10]:
for (index, number) in enumerate(list(range(5,15))):
    print(index)
    print(number)

0
5
1
6
2
7
3
8
4
9
5
10
6
11
7
12
8
13
9
14

# random

In [11]:
from random import randint

In [12]:
randint(0,1000)

982

In [13]:
randint(0,1000)

872

In [14]:
my_list_2 = list(range(0,10))

In [15]:
my_list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
from random import shuffle

In [17]:
shuffle(my_list_2)

In [18]:
my_list_2

[0, 4, 2, 3, 6, 5, 8, 9, 7, 1]

# zip

In [19]:
sport_list = ["run", "swim", "basketball"]

In [20]:
calories_list = [100, 200,300]

In [21]:
day_list = ["monday", "tuesday", "wednesday"]

In [22]:
zip(sport_list, calories_list, day_list)

In [23]:
new_list = zip(sport_list, calories_list, day_list)

In [24]:
new_list

In [25]:
new_list =list(zip(sport_list, calories_list, day_list))

In [26]:
new_list

[('run', 100, 'monday'),
 ('swim', 200, 'tuesday'),
 ('basketball', 300, 'wednesday')]

In [27]:
for element in new_list:
    print(element)

('run', 100, 'monday')
('swim', 200, 'tuesday')
('basketball', 300, 'wednesday')

# list advanced

In [28]:
new_list = []
my_string = "metallica"

for element in my_string:
    new_list.append(element)

In [29]:
new_list

['m', 'e', 't', 'a', 'l', 'l', 'i', 'c', 'a']

In [30]:
new_list = [element for element in my_string]

In [31]:
new_list

['m', 'e', 't', 'a', 'l', 'l', 'i', 'c', 'a']

In [32]:
new_list_2 = [number for number in list(range(0,10))]

In [33]:
new_list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
new_list_2 = [number*5 for number in list(range(0,10))]

In [36]:
new_list_2

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]